<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Суточные отчеты</title>
    <link rel="icon" href="../images/faviconka_ru_412.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="../images/faviconka_ru_412.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
    <link rel="stylesheet" href="../cdn/jquery-ui.min.css">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">


</head>

<body>
    <div class="content">
        <div class="forms-container">
            <form class="dateform" id="Eco1ReqForm" action="http://95.158.47.15:3001/reports/day/1/">
                <!-- Котельная. Выбор дня -->
                <fieldset>
                    <legend>Выбор отчетного дня:</legend>
                    <div class="submit-wrap">
                        <input type="text" id="datepicker1" autocomplete="off">
                    </div>
                    <div class="hideIt">
                        <input type="text" name="day" value="11" placeholder="День" required>
                        <input type="text" name="month" value="6" placeholder="Месяц" required>
                        <input type="text" name="year" value="2019" placeholder="Год" required>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Получить отчет :</legend>
                    <div class="submit-wrap">
                        <input class="eco-submit" type="submit" name="submit" data-eco = "1" value="Котельная1">
                        <input class="eco-submit" type="submit" name="submit"
                            action="http://95.158.47.15:3001/reports/day/2/" data-eco = "2" value="Котельная2">
                        <input class="eco-submit" type="submit" name="submit"
                            action="http://95.158.47.15:3001/reports/day/3/" data-eco = "3" value="Котельная3">
                    </div>
                </fieldset>
            </form>
            <div class="buttons">
                <button data-today="1" data-eco="1" id="todayRepEco1">Котельная1 Сегодня</button>
                <button data-today="1" data-eco="2" id="todayRepEco2">Котельная2 Сегодня</button>
                <button data-today="1" data-eco="3" id="todayRepEco3">Котельная3 Сегодня</button>
                <button data-eco="1" id="yesterdayRepEco1">Котельная1 Вчера</button>
                <button data-eco="2" id="yesterdayRepEco2">Котельная2 Вчера</button>
                <button data-eco="3" id="yesterdayRepEco3">Котельная3 Вчера</button>

            </div>
            <!-- <form class="dateform" id="Eco2ReqForm" action="http://95.158.47.15:3001/reports/day/2/"
                style="display:none">

                <p>Выбор отчетного дня. Котельная 2: <input type="text" id="datepicker2" autocomplete="off"></p>
                <div class="hideIt">
                    <input type="text" name="day" value="8" placeholder="День" required>
                    <input type="text" name="month" value="7" placeholder="Месяц" required>
                    <input type="text" name="year" value="2019" placeholder="Год" required>
                </div>
                <input type="submit" name="submit" value="Получить отчет">

            </form> -->


            <div class="navigationFooter"> </div>
        </div>

        <h1>Суточные отчеты</h1>
        <h2 id="ecounit"></h2>
        <p id="errorLabel"></p>

        <div>
            <p id="testPar"></p>
        </div>
        <table class="datatable" id="dayreport">

        </table>

    </div>
    <script src="../cdn/jquery-3.4.1.min.js"></script>
    <script src="../cdn/jquery-ui.min.js"></script>
    <script src="../cdn/jquery-ui-i18n.min.js">
    </script>
    <script src="../cdn/socket.io.js"></script>
    <script src="../javascripts/day-reports.js"></script>
    <script src="../javascripts/main-menu-light.js"></script>

</body>

</html>