<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Котельная 2. Текущие данные</title>
        <link rel="icon" href="images/faviconka_ru_412.ico" type="image/x-icon" />
        <link rel="shortcut icon" href= "images/faviconka_ru_412.ico" type="image/x-icon" /> 
         <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    </head>
 
    <body>
    <div class="content">
           <div id="datasheet"  class="reportDiv">
           <h1>Котельная 2. Текущие данные</h1>
            <table class="datatable" id="dataEco2">
                    <tr> <th></th> <th>Параметр</th> <th>ед.</th> <th>Значение</th> </tr>
            </table>
        </div>
        <div>         

        </div>
    </div>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
        <script src="javascripts/eco2.js"></script>
		<script src="javascripts/main-menu.js"></script>
    </body>
</html>