<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Котельные 1 и 2</title>
        <link rel="icon" href="images/faviconka_ru_412.ico" type="image/x-icon" />
        <link rel="shortcut icon" href= "images/faviconka_ru_412.ico" type="image/x-icon" /> 
        <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    </head>
 
    <body>
    <div class="content">
        <h1>Котельная 2. 
            Текущие данные</h1>

        <p ><span class="aiLabel">Производимое тепло, Гкал/ч </span><span class="value" id="W_38"> NaN </span></p>
        <p ><span class="aiLabel">Температура горячей воды, °С    </span><span class="value" id="T_3"> NaN </span></p>
         <p ><span class="aiLabel">Тепло за прошлые сутки, Гкал.   </span><span class="value" id="lastDayW_38"> NaN </span></p>
 
        <h1>Котельная 1. Текущие данные</h1>
        <p ><span class="aiLabel">Тепло за прошлые сутки, Гкал.   </span><span class="value" id="Eco1_lastDayW_38"> NaN </span></p>
        <p ><span class="aiLabel">Производимое тепло, Гкал/ч </span><span class="value" id="Eco1_W_38"> NaN </span></p>
         <p ><span class="aiLabel">Температура воды на город, °С    </span><span class="value" id="Eco1_T_41"> NaN </span></p>
        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
        <script>
                        var socket = io.connect('http://95.158.47.15:3001');
                        // var socket = io.connect();
                       var username = "testuser";
                        socket.emit('little_newbie', username);
                       socket.on('message', function(message) {
                            console.log('The server has a message for you: ' + message);
                        });
                             
                         socket.on('newdata', function(message) {
                                 const dataM340 = JSON.parse(message);
 
                                document.getElementById('W_38').innerText = dataM340[25];
                                document.getElementById('T_3').innerText = dataM340[3];
                                 document.getElementById('lastDayW_38').innerText = dataM340[49];

                                document.getElementById('Eco1_lastDayW_38').innerText = dataM340[48];
                                document.getElementById('Eco1_W_38').innerText = dataM340[40];
                                document.getElementById('Eco1_T_41').innerText = dataM340[43];
                            })
         </script>
        <script src="javascripts/main-menu.js"></script>
    </div>
    </body>
</html>