<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Котельные 1 и 2</title>
        <link rel="icon" href="images/faviconka_ru_412.ico" type="image/x-icon" />
        <link rel="shortcut icon" href= "images/faviconka_ru_412.ico" type="image/x-icon" /> 
        <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">

    </head>
 
    <body>
    <div class="content">
        <h1>Котельная 2. 
            Текущие данные</h1>

        <p ><span class="aiLabel">Производимое тепло, Гкал/ч  </span><span class="value" id="W_38"> NaN </span></p>
        <p ><span class="aiLabel">Температура воды на город, °С  </span><span class="value" id="T_41"> NaN </span></p>
        <p ><span class="aiLabel">Температура обротной воды, °С   </span><span class="value" id="T_42"> NaN </span></p>
         <p ><span class="aiLabel">Тепло за прошлые сутки, Гкал.   </span><span class="value" id="lastDayW_38"> NaN </span></p>
 
        <h1>Котельная 1. Текущие данные</h1>
        <p ><span class="aiLabel">Производимое тепло, Гкал/ч   </span><span class="value" id="Eco1_W_38"> NaN </span></p>
         <p ><span class="aiLabel">Температура воды на город, °С   </span><span class="value" id="Eco1_T_41"> NaN </span></p>
         <p ><span class="aiLabel">Температура обротной воды, °С   </span><span class="value" id="Eco1_T_42"> NaN </span></p>
         <p ><span class="aiLabel">Тепло за прошлые сутки, Гкал.   </span><span class="value" id="Eco1_lastDayW_38"> NaN </span></p>
         <button id="restart"></button>
         <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
        <script src="javascripts/diagnostic-utils.js"></script>
        
        <script>
                        var socket = io.connect('http://95.158.47.15:3001');
                        // var socket = io.connect();
                       var username = "testuser";
                        socket.emit('little_newbie', username);
                       socket.on('message', function(message) {
                            console.log('The server has a message for you: ' + message);
                        });
                             
                         socket.on('newdata', function(message) {
                                 const dataM340 = JSON.parse(message.data);
                                // console.table(dataM340);
                                document.getElementById('W_38').innerText = dataM340[25];
                                document.getElementById('T_41').innerText = dataM340[33];
                                document.getElementById('T_42').innerText = dataM340[36];
                                document.getElementById('lastDayW_38').innerText = dataM340[49];

                                document.getElementById('Eco1_lastDayW_38').innerText = dataM340[50];
                                document.getElementById('Eco1_W_38').innerText = dataM340[58];
                                document.getElementById('Eco1_T_41').innerText = dataM340[55];
                                document.getElementById('Eco1_T_42').innerText = dataM340[56];
                            });
         </script>
        <script src="javascripts/main-menu.js"></script>
    </div>
    </body>
</html>