<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Отчеты за месяц</title>
        <link rel="icon" href="../images/faviconka_ru_412.ico" type="image/x-icon" />
        <link rel="shortcut icon" href= "../images/faviconka_ru_412.ico" type="image/x-icon" /> 
         <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
    </head>
 
    <body>
  
        <div class="content">
                <div id="formsContainer">
                        <form class = "monthform" id="Eco1ReqForm" action="http://95.158.47.15:3001/reports/month/1/">
                            <p>Выбор отчетного месяца. Котельная 1:   
                              <!--   <select  id="monthPicker" autocomplete="off"></select> -->

                            </p>
                            <input type="submit" name="submit" value="Получить отчет">
                
                        </form>
                
                        <form class = "monthform" id="Eco2ReqForm" action="http://95.158.47.15:3001/reports/month/2/">
                            
                            <p>Выбор отчетного месяца. Котельная 2:   
                                <!-- <select  id="monthPicker2" autocomplete="off"></select> -->
                            </p>
                            <input type="submit" name="submit" value="Получить отчет">
                        </form>
                </div>
                <button id="testbutton2">test button2 </button>
                <button id="curmonth">Текущий месяц. Котельная 1 </button>
                <button id="curmonth2">Текущий месяц. Котельная 2 </button>
                <button id="lastmonth">Прошлый месяц. Котельная 1 </button>
                <button id="lastmonth2">Прошлый месяц. Котельная 2 </button>
                <div class="navigationFooter"> </div>
        

        <h1>Отчеты за месяц </h1>
        <h2 id="ecounit"></h2>
        <p id="errorLabel"></p>
        <div> <p id="testPar"></p></div>
                <table class="datatable" id="monthreport">

                </table>

        </div>
        <div class="navigationFooter"> </div> 
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>

        <script src="../javascripts/month-reports.js"></script>
        <script src="../javascripts/main-menu.js"></script>

    </body>
</html>