<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Отчеты за месяц</title>
        <link rel="icon" href="../images/faviconka_ru_412.ico" type="image/x-icon" />
        <link rel="shortcut icon" href= "../images/faviconka_ru_412.ico" type="image/x-icon" /> 
         <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
    </head>
 
    <body>
  
        <div class="content">
                <div class="navigationFooter"> </div>
        <h1>Отчеты за месяц </h1>
        <h2 id="ecounit"></h2>
        <button id="testbutton">test button2 </button>
        <button id="testbutton2">test button2 </button>
        <div> <p id="testPar"></p></div>
                <table class="datatable" id="monthreport">

                </table>

        </div>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
        <script src="../javascripts/month-reports.js"></script>
        <script src="../javascripts/main-menu.js"></script>

    </body>
</html>