<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Отчеты за месяц</title>
    <link rel="icon" href="../images/faviconka_ru_412.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="../images/faviconka_ru_412.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

</head>

<body>

    <div class="content">
        <div class="forms-container">
            <form class="monthform" id="Eco1ReqForm" action="http://95.158.47.15:3001/reports/month/1/">
                <fieldset>
                    <legend>Выбор отчетного месяца :</legend>
                    <div class="submit-wrap">

                        <!-- <select class="monthPicker" id="monthPicker" autocomplete="off" required="required"></select>
                        <select class="yearPicker" id="yearPicker" autocomplete="off" required="required"></select> -->
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Получить отчет :</legend>
                    <div class="submit-wrap">
                        <input class="eco-submit" data-eco="1" type="submit" name="submit" value="Котельная1">
                        <input class="eco-submit" data-eco="2" type="submit" name="submit" value="Котельная2"
                            action="http://95.158.47.15:3001/reports/month/2/">
                        <input class="eco-submit" data-eco="3" type="submit" name="submit" value="Котельная3"
                            action="http://95.158.47.15:3001/reports/month/3/">
                    </div>
                </fieldset>
            </form>
            <div class="buttons">
                <button data-today="1" data-eco="1" id="curmonth">Текущий месяц. Котельная1 </button>
                <button data-today="1" data-eco="2" id="curmonth2">Текущий месяц. Котельная2 </button>
                <button data-today="1" data-eco="3" id="curmonth3">Текущий месяц. Котельная3 </button>
                <button data-eco="1" id="lastmonth">Прошлый месяц. Котельная1 </button>
                <button data-eco="2" id="lastmonth2">Прошлый месяц. Котельная2 </button>
                <button data-eco="3" id="lastmonth3">Прошлый месяц. Котельная3 </button>
            </div>
            <!-- <form class="monthform" id="Eco2ReqForm" action="http://95.158.47.15:3001/reports/month/2/">

                <p>Выбор отчетного месяца. Котельная 2:
                </p>
                <input type="submit" name="submit" value="Получить отчет">
            </form> -->

            <div class="navigationFooter"> </div>
        </div>


        <h1>Отчеты за месяц </h1>
        <h2 id="ecounit"></h2>
        <p id="errorLabel"></p>
        <div>
            <p id="testPar"></p>
        </div>
        <table class="datatable" id="monthreport">

        </table>

    </div>
    <div class="navigationFooter"> </div>
    <script src="../cdn/jquery-3.4.1.min.js"></script>
    <script src="../cdn/socket.io.js"></script>

    <script src="../javascripts/month-reports.js"></script>
    <script src="../javascripts/main-menu-light.js"></script>

</body>

</html>