* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: whitesmoke;
  min-height: 100vh;
}

html {
  font-size: 14px;
}

@media screen and (max-device-width: 480px) {
  html {
    font-size: 12px;
  }
}

/*-------------------------------------------*/
h1 {
  text-align: center;
  color: darkblue
}

a {
  color: rgb(11, 102, 138);
}

p {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em
}

button {
  margin: 0.3rem 0.5rem;

}

.buttons {
  flex-grow: 1;
  order: 2;
  display: flex;
}

/*----------------datatable-----------*/
.datatable {
  border: 1px solid darkgrey;
  margin: auto;
  align-content: center;
  width: max-content;
  /* width: 98%; */

}

.datatable td,
th {
  border: 1px solid grey;
  padding: 1px;
  text-align: center;
  margin-block-start: 0.2rem;
  margin-block-end: 0.2rem
}

.reportDiv {
  margin-top: 4em;
  margin-left: 10px;
  align-content: center
}

.datatable tr:nth-child(even) {
  background-color: rgb(231, 231, 231);
}

.datatable tr:hover {
  background-color: darkkhaki;
}

.datatable tr:nth-last-child() {
  background-color: grey;
  font-style: italic;
  font-size: 1.5rem
}

.datatable th {
  border: 1px solid grey;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: darkcyan;
  color: rgb(245, 245, 245);
  font-size: 0.7rem;
}

@media screen and (max-device-width: 769px) {

  .datatable {
    /* width: max-content */
    width: 90%;
  }

  .datatable td,
  .datatable th {
    font-size: 1.1rem;
    /* max-width: 10vw; */
  }


  .datatable th:nth-child(n + 3) {
    /* font-size: 1.1rem; */
    max-width: 10vw;
  }

  .datatable tr td[class=value] {
    font-size: 1.6rem;
    padding-right: 0.5rem;
  }

  .datatable tr td[class=aiLabel] {
    padding: 1px;
    font-size: 1.4rem;
    padding-left: 0.5rem
  }
}

@media screen and (max-device-width: 480px) {
  .datatable {
    /* width: max-content; */

    width: 100%;
  }

  .datatable td {
    font-size: .8rem;
  }

  .datatable th {
    font-size: .58rem;
  }

  .datatable tr td[class=value] {
    font-size: 1.9rem;
    padding-right: 0.2rem;
  }

  .datatable tr td[class=aiLabel] {
    padding: 1px;
    font-size: .9rem;
    padding-left: 0.3rem
  }

}


#last-data-timestamp {
  font-size: 0.8rem;
  color: midnightblue;
  text-align: center;

}

.datatable tr td[class=value] {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.95rem;
  font-style: bold;
  text-align: right;
  padding-right: 0.5em;
}

.datatable tr td[class=aiLabel] {
  border: 1px solid grey;
  padding: 1px;
  color: darkblue;
  text-align: left;
  padding-left: 0.5em
}

#monthreport tr td:nth-child(2),
#dayreport tr td:nth-child(2) {
  color: darkred;
  font-size: 1.4rem;
  font-style: italic;
  background-color: lightsteelblue
}

#monthreport tr:last-child {
  color: rgb(0, 61, 0);
  font-size: 1.5rem;
  font-style: bold;

}

/*==================menu============================*/
#topmenu {
  background-color: darkcyan;
  text-align: center;
  line-height: 0.8em;
  overflow: hidden;
  align-content: center;
  width: 100%;
  font-family: "Times New Roman";
}

#topmenu.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

#topmenu.ecoMenu {
  width: 100%;
  min-height: 3em;
}

#topmenu ul {
  padding: 0;
  margin: 0;
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;

}

#topmenu li {
  display: inline;
  list-style: none;
  margin: 0;
}

#topmenu li a {
  border: 1px solid grey;
  background-color: darkcyan;
  display: block;
  padding: 1.8rem 2rem;
  min-width: 100px;
  text-decoration: none;
  color: lightgray;
  font-size: 1.2rem;

}

#topmenu input[type=checkbox] {
  display: none;
  /* position: absolute;
  top: -9999px;
  left: -9999px; */
}

#topmenu label {
  display: none;
  cursor: pointer;
  user-select: none;

}

#topmenu li a:hover {
  background-color: rgb(3, 161, 161);
  color: burlywood
}

@media screen and (max-width: 60em) {
  #topmenu li a {
    padding: 1.8rem .5rem;
    min-width: 64px;
    font-size: 1.2rem;
  }
}

/* @media screen and (max-device-width: 480px) { */
@media screen and (max-width: 44em) {

  #topmenu {
    background-color: darkcyan;
    text-align: center;
    line-height: 0.8em;
    overflow: hidden;
    align-content: center;
    width: 100%;
    font-family: "Times New Roman";
    z-index: 11
  }

  #topmenu ul {
    /* padding: 1.8rem .1rem;
    font-size: .91rem; */
    display: none;
    height: 100%;
    position: relative;
    top: 4rem;
    height: 100vh;
  }

  #topmenu li {
    display: inline;
    list-style: none;
    margin: 0;
  }

  #topmenu input {
    display: none;
  }


  #topmenu label {
    position: relative;
    float: left;
    display: block;
    width: 100%;
  }

  #topmenu label:after {
    position: absolute;
    font-size: 4rem;
    color: burlywood;
    content: "\2261";
    top: .3em;
    right: .3em;
  }

  #topmenu li a {
    padding: 1.8rem .1rem;
    font-size: 1.4rem;
  }

  #topmenu.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }

  #topmenu input:checked~ul {
    display: block;
    height: 100vh;
  }

  #topmenu input:checked~ul>li {
    width: 100%;

  }

  #topmenu input:checked~label:after {
    content: "\2573";
    top: .5em;
    font-size: 2.5rem;
  }

  #topmenu.ecoMenu {
    width: 100%;
  }

}

/* @media screen and (max-device-width: 390px) {


  #topmenu li a {
    padding: 1.8rem .1rem;
    font-size: .77rem;
  }

  .content {
    margin-top: 1em;
    align-content: center
  }

} */
/* 
@media screen and (max-device-width: 350px) {


  #topmenu li a {
    padding: 1.8rem .1rem;
    font-size: .67rem;
  }
} */

.sticky {
  position: sticky;
  top: 0;
}



.content p {
  margin-left: 2rem;
  font-size: 1.2rem;
}

.content span.value {
  font-size: 1.5rem;
  color: midnightblue;
}

/*==================menu============================*/

/*==================form============================*/
.forms-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.dateform,
.monthform {
  display: block;
  color: darkblue;
  width: 30%;
  text-align: right;
  margin: 0rem 1rem 0.5rem 0.5rem;
  align-content: flex-end;
  flex-grow: 1;
}

.dateform input[type=text] {
  display: block;
  width: 4em;
  color: darkblue;
  text-align: right;
  display: inline-block;
}

.monthform select {
  display: block;
  width: 6.3rem;
  height: 1.4rem;
  color: darkblue;
  text-align: right;
  display: inline-block;
}

.dateform input[id^=datepick] {
  width: 5.8rem;
  color: darkolivegreen;
  text-align: right;
}

.monthform select[id^=year] {

  width: 5rem;
  color: darkolivegreen;
}

.monthform select[id^=month] {
  width: 6.3rem;
  color: darkolivegreen;
}

#Eco2ReqForm {
  order: 3;
}

.hideIt {
  display: none;
}

.navigationFooter {
  clear: both;
}

/*==================form============================*/

#restart {
  background-color: whitesmoke;
  width: 3em;
  height: 2em;
  border: none;
}