* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font: "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: whitesmoke;
}

.datatable {
  border: 1px solid darkgrey;
  margin: auto;

  align-content: center;
  /* width: max-content */
    width: 98%;

}

.datatable td,
th {
  border: 1px solid grey;
  padding: 1px;
  text-align: center;
  margin-block-start: 0.2em;
  margin-block-end: 0.2em
}

.reportDiv {
  margin-top: 4em;
  margin-left: 10px;
  align-content: center
}

.datatable tr:nth-child(even) {
  background-color: rgb(231, 231, 231);
}

.datatable tr:hover {
  background-color: darkkhaki;
}

.datatable tr:nth-last-child() {
  background-color: grey;
  font-style: italic;
  font-size: 1.5em
}

.datatable th {
  border: 1px solid grey;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: darkcyan;
  color: rgb(245, 245, 245);
}

h1 {
  text-align: center;
  color: darkblue
}

a {
  color: rgb(11, 102, 138);
}

p {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em
}

button {
  margin: 0.3em 0.5em;

}

.buttons {
  flex-grow: 1;
  order: 2;
  display: flex;
}

#last-data-timestamp {
  font-size: x-small;
  color: midnightblue;
  text-align: center;

}

.datatable tr td[class=value] {
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
  font-style: bold;
  /* background-color: rgb(189, 193, 196) */
  text-align: right;
  /* align: right; */
  padding-right: 0.5em;
}

.datatable tr td[class=aiLabel] {
  border: 1px solid grey;
  padding: 1px;
  color: darkblue;
  text-align: left;
  /* align:left; */
  padding-left: 0.5em
}

#monthreport tr td:nth-child(2),
#dayreport tr td:nth-child(2) {
  color: darkred;
  font-size: larger;
  font-style: italic;
  background-color: lightsteelblue
}

#monthreport tr:last-child {
  color: rgb(0, 61, 0);
  font-size: larger;
  font-style: bold;

}

/* 
#dayreport tr td:nth-child(2) {
  color: darkred;
  font-size: larger;
  font-style: italic;
  background-color: lightsteelblue  git
} */
/*==================menu============================*/
#topmenu {
  /* width: 920px; */
  /* text-transform: uppercase; */
  background-color: darkcyan;
  text-align: center;
  line-height: 0.8em;
  overflow: hidden;
  align-content: center;
  /*position: fixed;  */
  /* top: 0;  */
  width: 100%;
}

#topmenu.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

#topmenu.ecoMenu {
  width: 100%;
  /* width: 920px; */
}

#topmenu ul {
  padding: 0;
  margin: 0;
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;

}

#topmenu li {
  display: inline;
  list-style: none;
  margin: 0;
}

#topmenu li a {
  border: 1px solid grey;
  background-color: darkcyan;
  display: block;
  padding: 1.2em 2em;
  min-width: 100px;
  text-decoration: none;
  color: lightgray;

}

#topmenu li a:hover {
  background-color: rgb(3, 161, 161);
  color: burlywood
}

.sticky {
  position: sticky;
  /* position: fixed; */
   top: 0; 
}

.content {
  margin-top: 1em;
  margin-left: 5px;
  align-content: center
}

.content p {
  margin-left: 2em;
  font-size: 1.2rem;
}

.content span.value {
  font-size: 1.5rem;
  color: midnightblue;
}
/*==================menu============================*/

/*==================form============================*/
.forms-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
}

.dateform,
.monthform {
  display: block;
  color: darkblue;
  width: 30%;
  text-align: right;
  margin: 0em 3em 0.5em 0.5em;
  /* float: right; */
  align-content: flex-end;
  flex-grow: 1;
}

.dateform input[type=text] {
  display: block;
  width: 4em;
  color: darkblue;
  text-align: right;
  display: inline-block;
}

.monthform select {
  display: block;
  width: 6.3rem;
  height: 1.4rem;
  color: darkblue;
  text-align: right;
  display: inline-block;
}

/* 
#Eco1ReqForm {
  float: left;
} */

.dateform input[id^=datepick] {
  width: 5.8rem;
  color: darkolivegreen;
  text-align: right;
}

.monthform select[id^=year] {

  width: 5rem;
  color: darkolivegreen;
  /* text-align:right; */
}

.monthform select[id^=month] {
  width: 6.3rem;
  color: darkolivegreen;
  /* text-align:right; */
}

#Eco2ReqForm {
  order: 3;
}

.hideIt {
  display: none;
}

.navigationFooter {
  clear: both;
}

/* .hasDatepicker {
  width: 5em;
} */
/*==================form============================*/

#restart {
  background-color: whitesmoke;
  width: 3em;
  height: 2em;
  border: none;
}


@media screen and (max-device-width: 769px) {
  #topmenu li a {
    padding: 1.2em 0.4em;
    min-width: 80px;
    font-size: 1.2rem;
  }

  .datatable {
    /* width: max-content */
    width: 90%;
  }

  .datatable td,
  .datatable.th {
    font-size: 1.2rem;
  }

  .datatable tr td[class=value] {
    font-size: 1.6rem;
    padding-right: 0.5rem;
  }

  .datatable tr td[class=aiLabel] {
    padding: 1px;
    font-size: 1.4rem;
    padding-left: 0.5em
  }
}

@media screen and (max-device-width: 480px) {
html {
  font-size: 14px;
}

  #topmenu li a {
    padding: 1.2em 0.2em;
    font-size: 2rem;
  }
  .datatable {
    /* width: max-content; */

    width: 95%;
  }
  
  .datatable td,
  .datatable.th {
    font-size: 1.4rem;
  }

  .datatable tr td[class=value] {
    font-size: 2.5rem;
    padding-right: 0.2rem;
  }

  .datatable tr td[class=aiLabel] {
    padding: 1px;
    font-size: 1.6rem;
    padding-left: 0.5rem
  }

}